<div class="container">
  <div class="row" style="margin: 20px 0;">
    <div
      class="col-xs-8"
      #Maincontainer="cdkDropList"
      cdkDropList
      [cdkDropListData]="containers"
      [cdkDropListConnectedTo]="[componentsList]"
      (cdkDropListDropped)="drop($event)"
      style="height: 95vh; border: 1px solid black;"
    >
      <div *ngFor="let item of containers">
        <app-right-container
          class="container-box"
          [containerItem]="item"
        ></app-right-container>
      </div>
    </div>
    <div
      class="col-xs-4 component-list-container"
      #componentsList="cdkDropList"
      cdkDropList
      [cdkDropListData]="components"
      [cdkDropListConnectedTo]="[Maincontainer]"
      (cdkDropListDropped)="drop($event)"
    >
      <h1>Drag Items from the list</h1>
      <div class="component-list" cdkDrag *ngFor="let item of components">
        {{ item }}
      </div>
    </div>
  </div>
</div>
