.mg-top {
  margin-top: 20px;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.footer-position {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
